#banner
  .banner_content
    %h1 File Cabinet
    %p yours life's work.
    %button= link_to "Enter", new_user_registration_path

#callouts   
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Lorem ipsum dolor amet try-hard art party locavore truffaut seitan selfies.Cold-pressed deep v brunch,kombucha tacos try-hard godard trust fund pinterest ramps vice dreamcatcher.Drinking vinegar selfies 8-bit,  pok pok deep v woke tumblr succulents wayfarers listicle affogato gochujang poke.Tofu +1 messenger bag farm-to-table.

#bottom_cta
  .wrapper
    %h2 GO head
    %br
    %button= link_to "Join now", new_user_registration_path
